/* common.css */

/* common */
*{margin: 0;padding: 0;}

ul{list-style-type: none;}

a{text-decoration: none;color: #222;}

body{
    color: #222;font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    min-width: 1200px;
    font-size: 100%;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    outline: 1px solid red;
}
section{
    width: 1200px;
    margin: 0 auto;
}

/* haeder */
.header_wrap {
    /* height: 145px; */
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    /* background: #666; */
    width: 100%;
    z-index: 99;
    height: 70px;
}

#main_header {
    margin: 0 auto;
    width: 1200px;
    border-bottom: 1px solid #b7b7b7;
    line-height: 70px;
}

#main_header h1{
    float: left;
}

#main_header #main_gnb{
    float: right;
}

#main_header #main_gnb li{
    display: inline-block;
    margin-right: 100px;
    font-size: 18px;
    font-weight: bold;
}

/* contents */
#contents{
    height: 650px;
    background: #ccc;
}