/* page3.css */
#info h2 {
    padding: 20px 0;
}

#info {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    overflow: hidden;

}
#info {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#info ul li {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    width: 360px; height: 360px;
    background: #ccc;
    overflow: hidden;
    }
#info ul li img {
    width: 360px;
    display: block;
}
#info span {
    border-bottom: 3px solid #959595;
    height: 4px;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/* 메뉴 아이콘 마우스 접근시 1.1배 크기 증가 효과 */
  #info ul > li {
    margin-left: 10px;
}
  
#info ul > li:hover{
    transform: scale( 1.1 );
}