/* page3.css */
#info h2 {
    padding: 20px 0;
}

#info {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    overflow: hidden;

}
#info {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#info ul li {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    width: 360px; height: 360px;
    background: #ccc;
    overflow: hidden;
    }
#info ul li img {
    width: 360px;
    display: block;
}
 